/* *{
    text-align: center;
    margin: auto;
    
} */
/* body{
    align-content: center;
    width: 50%;
    margin: auto !important;
} */
.main-container {
  align-content: center;
  margin: auto;
  /* margin-top: 20%; */
  width: 50%;
}
